<% layout('layouts/boilerplate') -%>

<body>
  <div class="row" id="row">
    <div class="col-8 offset-2">
      <br />
      <h2><%=data.title%></h2>
      <br />
      <div class="card listing-card">
        <img src="<%=data.image%>" class="card-img-top show-img" alt="place_img" />
        <div class="card-body">
          <p class="card-text">
            <%=data.owner.username%>
            <br />
            <%=data.desc%>
            <br />
            <%=data.location%>
            <br />
            <%=data.country%>
            <br />
            &#8377;<%=data.price.toLocaleString("en-IN")%>
          </p>
          <%if(currUser && currUser._id.equals(data.owner._id)) {%>
          <div class="button-container">
            <form action="/listing/<%=data._id%>/edit">
              <button class="btn btn-dark listing-button">Edit</button>
            </form>
            <form action="/listing/<%=data._id%>?_method=DELETE" method="post">
              <button class="btn btn-primary listing-button">Delete</button>
            </form>
          </div>
          <% } %>
          <br>
          <hr>
          <% if(currUser) {%>
          <h4>Leave a Review</h4>
          <form action="/listing/<%=data._id%>/reviews" method="post" class="needs-validation" novalidate>
            <div class="mb-3">
              <label for="rating" class="form-label">Rating</label>
              <fieldset class="starability-slot">
                <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="0" checked aria-label="No rating." />
                <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                <label for="first-rate1" title="Terrible">1 star</label>
                <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                <label for="first-rate2" title="Not good">2 stars</label>
                <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                <label for="first-rate3" title="Average">3 stars</label>
                <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                <label for="first-rate4" title="Very good">4 stars</label>
                <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                <label for="first-rate5" title="Amazing">5 stars</label>
              </fieldset>
            </div>
            <div>
              <label for="comment" class="form-label">Comments</label>
              <textarea name="review[comments]" id="comment" cols="30" rows="5" class="form-control" required></textarea>
              <div class="invalid-feedback">write a review</div>
            </div>
            <br>
            <button class="btn btn-outline-dark">Submit</button>
          </form>
          <hr>
          <% } %>
          <h4>All Reviews</h4>
          <div class="row">
            <% for(let review of data.reviews){ %>
            <div class="card col-5 mb-3 ms-3">
              <div class="card-body">
                <h5 class="card-title"><%=review.author.username%></h5>
                <p class="card-text"><%=review.comments%></p>
                <p class="starability-result" data-rating="<%=review.rating%>"></p>
              </div>
              <form action="/listing/<%=data._id%>/reviews/<%=review._id%>?_method=DELETE" method="post">
                <button class="btn btn-sm btn-dark mb-3 ms-3"> Delete</button>
              </form>
            </div>
            <%} %>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>